nav ul li ul{position:absolute;display:none;background: #99c404;width: 200px;}
.logo-nav .m4:hover ul{
	display: block;
	z-index: 100;

}
nav ul li:hover ul{display:block;}
ul>li>ul>li{  
width: 100%;
  float: left;
  text-align: center !important;
  padding: 0px;
  border-bottom: 1px solid white;
  height: 33px;
  color: white;
}
  ul>li>ul>li>a{
 color: white !important;
 margin-top: -20px;
  }
  ul>li>ul>li:hover{  
background: #009900;
}
.m1.dropdown a{
	color: white;
}
.news-box .thumb img{
  height: 350px !important;
}
.lvcomment{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}
.attachment-full.wp-post-image{
  width: 100%;
}
.viewallindext{
  text-align: center;
    color: #fff;
  background: url("../images/rmbg-hover.png") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
  border: 0;
  height: 45px;
  width: 150px;
}
.va{
  text-align: center;
}
.viewallindext button{
  height: 45px;
  width: 150px;
  border: none;
   background: url("../images/rmbg-hover.png") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
 
}
.viewallindext button:hover{
  border: none;
  background: url("../images/rmbg-hover.png") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
 
}